<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900595551523-mbb6ccs9k91t3mk7jej4c7acunbfm8vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900595551523-mbb6ccs9k91t3mk7jej4c7acunbfm8vn</string>
	<key>API_KEY</key>
	<string>AIzaSyD8jKvogOd3-1CA2i-3UQwAjfMJUCzaVx0</string>
	<key>GCM_SENDER_ID</key>
	<string>900595551523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JefferyWidroff.Lunch---Co</string>
	<key>PROJECT_ID</key>
	<string>lunch-and-co</string>
	<key>STORAGE_BUCKET</key>
	<string>lunch-and-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900595551523:ios:22a76aa19a11ff89171096</string>
	<key>DATABASE_URL</key>
	<string>https://lunch-and-co.firebaseio.com</string>
</dict>
</plist>